*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1300px;
  margin: auto;
}
/* App.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px; /* Ensuring content starts below navbar */
}
